<div class="w-screen h-20 px-2 bg-bluew text-white">
  <div class= 'flex flex-row justify-between items-center px-1'>
    <%= link_to root_path do %>
      <span class="material-icons md-light md-36 mt-5">arrow_back</span>
    <% end %>
  </div>
</div>
       